/* Bootstrap 5 CSS and icons included */

:root {
    --colorPrimaryNormal: #00b3bb;
    --colorPrimaryDark: #00979f;
    --colorPrimaryGlare: #00cdd7;
    --colorPrimaryHalf: #80d9dd;
    --colorPrimaryQuarter: #bfecee;
    --colorPrimaryEighth: #dff5f7;
    --colorPrimaryPale: #f3f5f7;
    --colorPrimarySeparator: #f3f5f7;
    --colorPrimaryOutline: #dff5f7;
    --colorButtonNormal: #00b3bb;
    --colorButtonHover: #00cdd7;
    --colorLinkNormal: #00979f;
    --colorLinkHover: #00cdd7;
}

body {
    margin: 24px;
    font-family: sans-serif;
}

.result-container {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}

.result-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.uploaded-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 2rem;
}

.disease-info {
    background-color: #f3f5f7;
    padding: 1rem;
    border-radius: 5px;
}

.disease-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.disease-description {
    font-size: 1rem;
}
  