
/* static/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 40 auto;

}

h1 {
    color: #333;
    text-align: center;
    padding-top: 50px;
}
/* Add these styles to your existing stylesheet or create a new one */

.prediction {
    text-align: center;
    padding: 50px 0; /* Adjust padding as needed */

}

.prediction .container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
}

.prediction .container button{
    margin-left:45%;
    border-radius:10px;
}


.prediction h2,
.prediction p {
    margin-bottom: 20px;
}

.file-input-container {
    display: block;
    margin: 20px auto; /* Center the file input container */
}

.file-input-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.file-input {
    display: none; /* Hide the file input */
}

#image-preview-container {
    margin-top: 20px;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}



button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #45a049;
}

/* Additional Styling */

.container {
    overflow: hidden;
    width:100%;
}


h1 {
    font-size: 2em;
    color:white;
}

form {
    box-sizing: border-box;
}

/* Media Query for Responsive Design */

@media (max-width: 768px) {
    form {
        width: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
}
/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav h1 {
    margin: 0;
    float: left;
}

nav ul {
    list-style: none;
    margin: 0;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    background: url('background.jpg') center/cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0576bd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0576bd;
}

.about {
    background-color: #f8f8f8;
    padding: 80px 0;
    text-align: center;
}

.contact {
    padding: 80px 0;
    text-align: center;
    background-color: #333;
    color: white;
}

.contact a {
    color: #3498db;
}

.hero {
    background-image: url('https://img.freepik.com/free-vector/technology-artifical-intelligence-background-with-face_1017-18298.jpg'); /* Replace with the actual path to your background image */
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to white or your preferred color */
    text-align: center;
    padding: 100px 0; /* Adjust the padding as needed */
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: fadeInUp 3s ease infinite; /* Add fadeInUp animation */
}

/* Add a keyframe animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

