<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Skin Diseases</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#prediction">Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section id="home" class="hero">
        <div class="container">
            <h1>Welcome to Our Deep Learning Website</h1>
            <p>Explore the fascinating world of deep learning and artificial intelligence.</p>
            <a href="#about" class="btn">Learn More</a>
        </div>
    </section>
     <section id="prediction" class="prediction" >
        <div class="container">
            <h2>Skin Disease Prediction</h2>
            <p>Upload an image to predict the skin disease.</p>
            <form action="/predict" method="post" enctype="multipart/form-data">
                <label for="file" class="file-input-container">
                    <span class="file-input-button">Choose an image</span>
                    <input type="file" name="file" id="file" class="file-input" accept="image/*">
                </label>
                <div id="image-preview-container"></div>
                <button type="submit">Predict</button>
            </form>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about">
        <div class="container">
            <h2>About CNN MODEL</h2>
            <p>A Convolutional Neural Network (CNN) is a class of deep neural networks designed for processing and analyzing visual data, such as images and videos. CNNs have proven to be highly effective in various computer vision tasks, including image classification, object detection, and image segmentation.

Key features of CNNs include:

Convolutional Layers: CNNs are built upon convolutional layers, which apply filters to input data to extract features. These filters are small compared to the input size and are slid over the input data to detect patterns, edges, and textures.

Pooling Layers: Pooling layers downsample the spatial dimensions of the input data by summarizing the presence of features in specific regions. Max pooling, for example, retains the maximum value in a region, reducing the dimensionality of the data.

Activation Functions: Non-linear activation functions, such as Rectified Linear Unit (ReLU), introduce non-linearity to the model, enabling it to learn complex relationships and representations in the data.

Fully Connected Layers: After extracting features through convolutional and pooling layers, CNNs often use fully connected layers to classify or regress the input data. These layers connect every neuron to every neuron in the subsequent layer.

Training with Backpropagation: CNNs are trained using a supervised learning approach, where the model's predictions are compared to the actual labels, and the weights are adjusted using backpropagation and optimization algorithms like gradient descent.

Transfer Learning: CNNs can benefit from transfer learning, where a pre-trained model on a large dataset is fine-tuned for a specific task. This is especially useful when the available dataset for a particular task is limited.

Data Augmentation: To enhance model generalization, data augmentation techniques are often employed. These techniques involve applying random transformations to the training data, such as rotations, flips, and zooms, to expose the model to a more diverse set of examples.

CNNs have achieved remarkable success in a variety of applications, ranging from image recognition in self-driving cars to medical image analysis. They have become a cornerstone in the field of computer vision, providing powerful tools for extracting meaningful information from visual data. As technology continues to advance, CNNs are likely to play a crucial role in shaping the future of artificial intelligence and its applications.</p>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have questions or want to know more? Reach out to us!</p>
            <a href="mailto:info@deeplearningwebsite.com" class="btn">Email Us</a>
        </div>
    </section>
    <script>
    document.getElementById('file').addEventListener('change', function () {
        var fileInput = document.getElementById('file');
        var imagePreviewContainer = document.getElementById('image-preview-container');

        // Check if the file input has files
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Create an image element
                var img = document.createElement('img');

                // Set the source of the image to the data URL
                img.src = e.target.result;

                // Set additional styling for the image
                img.style.maxWidth = '100%';
                img.style.height = 'auto';
                img.style.border = '1px solid #ccc';
                img.style.borderRadius = '4px';
                img.style.marginTop = '10px';

                // Clear any previous image previews
                imagePreviewContainer.innerHTML = '';

                // Append the image to the image preview container
                imagePreviewContainer.appendChild(img);
            };

            // Read the file as a data URL
            reader.readAsDataURL(fileInput.files[0]);
        }
    });
</script>
    <script src="{{ url_for('static', path='js/display_img.js') }}"></script>
</body>
</html>
