<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Home</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="container">
            <h1>Deep Learning</h1>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <h1>Prediction Result</h1>
        <p>Class Name: {{ class_name }}</p>

    <!-- Contact Section -->
    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have questions or want to know more? Reach out to us!</p>
            <a href="mailto:info@deeplearningwebsite.com" class="btn">Email Us</a>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
