<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Home</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="container">
            <h1>Deep Learning</h1>
            <ul>
                <li><a href="/">Home</a></li>

            </ul>
        </div>
    </nav>
    <section id="home" class="hero">
        <div class="container">
            <h1>Predicted Result: </h1>
            <h2>{{ class_name }}</h2>

        </div>
    </section>

    <!-- Hero Section -->


    <!-- Contact Section -->


    <script src="script.js"></script>
</body>
</html>
